  <label class="top"><u>1.Matbutton</u></label>
  <br>
  <label class="top text-info">a) Matbutton basic</label>
  <button mat-button>this is mat button</button>
  <br>

  <label class="text-info"> b) color="primary"</label>
  <button mat-button color="primary">primary</button>
  <br>

  <label class="text-info"> c) color="accent"</label>
  <button mat-button color="accent">Accent</button>
  <br>

  <label class="text-info"> d) color="warn"</label>
  <button mat-button color="warn">Warn</button>
  <br>


  <label class="text-info"> e) mat-button disabled</label>
  <button mat-button disabled>disabled</button>
  <br>

  <label class="text-info"> f) How to give link in Mat buttons</label>
  <a mat-button color="warn" href="https://www.google.com/" target="_blank">Link</a>
  <br>
  <br><br>
  <div class="hr"></div>

  <label class="top text-primary"><u>2.Mat Raised Button</u></label>
  <br>
  
  <label class="top text-success">a) Mat raised button basic</label>
  <button mat-raised-button>this is mat raised button basic</button>
  <br> <br>

  <label class="text-success"> b) color="primary"</label>
  <button mat-raised-button color="primary">primary</button>
  <br><br>

  <label class="text-success"> c) color="accent"</label>
  <button mat-raised-button color="accent">Accent</button>
  <br><br>

  <label class="text-success"> d) color="warn"</label>
  <button mat-raised-button color="warn">Warn</button>
  <br><br>

  <label class="text-success"> e) Disabled</label>
  <button mat-raised-button disabled >Disabled</button>
  <br><br>

  <label class="text-success"> f) How to give link in mat-raised-buttons</label>
  <a mat-raised-button  color="primary" href="https://www.google.com/" target="_blank">Link</a>
  <br>
  <br><br>
  <div class="hr"></div>

  <label class="top text-warning"><u>3.Mat stroked Button</u></label>
  <br>

  <label class="top text-primary">a) Mat stroked button basic</label>
  <button mat-stroked-button>this is mat stroked button basic</button>
  <br> <br>

  <label class="text-primary"> b) color="primary"</label>
  <button mat-stroked-button color="primary">primary</button>
  <br><br>
  
  <label class="text-primary"> c) color="accent"</label>
  <button mat-stroked-button color="accent">Accent</button>
  <br><br>

  <label class="text-primary"> d) color="warn"</label>
  <button mat-stroked-button color="warn">Warn</button>
  <br><br>

  <label class="text-primary"> e) Disabled</label>
  <button mat-stroked-button disabled >Disabled</button>
  <br><br>

  <label class="text-primary"> f) How to give link in mat-stroked-buttons</label>
  <a mat-stroked-button  color="accent" href="https://www.google.com/" target="_blank">Link</a>
  <br>
  <br><br>


  <div class="hr"></div>

  <label class="top text-dark"><u>4.Mat flat Button</u></label>
  <br>

  <label class="top text-warning">a) Mat flat button basic</label>
  <button mat-flat-button>this is mat flat button basic</button>
  <br> <br>

  <label class="text-warning"> b) color="primary"</label>
  <button mat-flat-button color="primary">primary</button>
  <br><br>
  
  <label class="text-warning"> c) color="accent"</label>
  <button mat-flat-button color="accent">Accent</button>
  <br><br>

  <label class="text-warning"> d) color="warn"</label>
  <button mat-flat-button color="warn">Warn</button>
  <br><br>

  <label class="text-warning"> e) Disabled</label>
  <button mat-flat-button disabled >Disabled</button>
  <br><br>

  <label class="text-warning"> f) How to give link in mat-flat-buttons</label>
  <a mat-flat-button  color="accent" href="https://www.google.com/" target="_blank">Link</a>
  <br>
  <br><br>

  <div class="hr"></div>

  <label class="top text-danger"><u>5.Mat icon Buttons</u></label>
  <br>

  <label class="top  text-primary"> vertical three dot icon</label>


  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
<br><br>

<label class="text-primary"> delete icon</label>

  <button mat-icon-button color="accent" >
    <mat-icon>delete</mat-icon>
  </button>
<br><br>

<label class="text-primary"> Home Icon</label>

<button mat-icon-button color="primary">
  <mat-icon>home</mat-icon>
</button>
<br><br>

<label class="text-primary"> favorite Icon</label>

<button mat-icon-button color="primary" >
  <mat-icon>favorite</mat-icon>
</button>
<br><br>

<label class="text-primary"> New tab Icon</label>

<button mat-icon-button color="accent">
  <mat-icon>open_in_new</mat-icon>
</button>
<br><br>

<div class="hr"></div>

  <label class="top text-danger"><u>6.Mat fab Buttons</u></label>
  <br>

  <label class="top  text-primary"> vertical three dot icon</label>


  <button mat-fab>
    <mat-icon>more_vert</mat-icon>
  </button>
<br><br>

<label class="text-primary"> delete icon</label>

  <button mat-fab color="accent" >
    <mat-icon>delete</mat-icon>
  </button>
<br><br>

<label class="text-primary"> Home Icon</label>

<button mat-fab color="primary">
  <mat-icon>home</mat-icon>
</button>
<br><br>

<label class="text-primary"> favorite Icon</label>

<button mat-fab color="primary" >
  <mat-icon>favorite</mat-icon>
</button>
<br><br>

<label class="text-primary"> New tab Icon</label>

<button mat-fab color="accent">
  <mat-icon>open_in_new</mat-icon>
</button>
<br><br>

<div class="hr"></div>

  <label class="top text-danger"><u>6.Mat fab Buttons</u></label>
  <br>

  <label class="top  text-primary">menu</label>


  <button mat-mini-fab>
    <mat-icon>menu</mat-icon>
  </button>
<br><br>

<label class="text-primary"> plus_one</label>

  <button mat-mini-fab color="accent" >
    <mat-icon>plus_one</mat-icon>
  </button>
<br><br>

<label class="text-primary"> filter_list Icon</label>

<button mat-mini-fab color="primary">
  <mat-icon>filter_list</mat-icon>
</button>
<br><br>

<label class="text-primary"> home Icon</label>

<button mat-mini-fab color="primary" >
  <mat-icon>home</mat-icon>
</button>
<br><br>

<label class="text-primary"> New tab Icon</label>

<button mat-mini-fab color="accent">
  <mat-icon>open_in_new</mat-icon>
</button>
<br><br>