<h1 class="text-center text-success head">Typography (types of headings)</h1>
<br>

<label>Headings are Make Style with Mat-headlines</label>
<br>

<div class="mat-headline-1 text-success text-center">Header 1</div>
<div class="mat-headline-2 text-success text-center">Header 2</div>
<div class="mat-headline-3 text-success text-center">Header 3</div>
<div class="mat-headline-4 text-success text-center">Header 4</div>
<div class="mat-headline-5 text-success text-center">Header 5</div>
<div class="mat-headline-6 text-success text-center">Header 6</div>

<label>we can use .mat-h1 and .mat-h2  classes to replace mat-headline-5 and mat-headline-6</label>
<br>

<div class="mat-h1 text-success text-center">Header 1</div><br>
<div class="mat-h2 text-success text-center">Header 2</div>

<!-- we can use both as your wish -->

<div class="  text-success text-center mat-subtitle-1">sub heading-1</div>
<div class="  text-success text-center mat-h3">sub heading-1</div>

<!-- we can use both as your wish -->
<div class="  text-success text-center mat-subtitle-2">sub heading-2</div>
<div class="  text-success text-center mat-body-2">body </div>

<!-- we can use both as your wish -->
<div class="  text-success text-center mat-body-1">body 1</div>
<div class="  text-success text-center mat-h4">body 1</div>

<!-- we can use both as your wish -->

<div class="  text-success text-center mat-caption">caption 1</div>
<div class="  text-success text-center mat-small">caption 1</div>